body {
  padding-top: 145px;
  font-family: "Helvetica-light", sans-serif;
  background: #e0e0e0;
}
@font-face {
  font-family: 'helvetica', sans-serif;
  src: url(../fonts/helr65w.ttf);
}
@font-face {
  font-family: 'helvetica-light', sans-serif;
  src: url(../fonts/HelveticaLt.ttf);
}
ul,
li {
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
img {
  pointer-events: none;
}
input,
.btn {
  border-radius: 7px;
}
nav.login {
  background: #000000;
  border: 0;
  padding: 13px 0;
}
nav.login .navbar-header {
  width: 100%;
}
@media (max-width: 414px) {
  nav.login .navbar-header {
    width: auto;
  }
}
nav.login .navbar-header .header-content {
  max-width: 480px;
  height: 110px;
  margin: 0 auto;
}
@media (max-width: 414px) {
  nav.login .navbar-header .header-content {
    max-width: 100%;
  }
}
nav.login .navbar-header .header-content .logo {
  height: auto;
}
@media (max-width: 414px) {
  nav.login .navbar-header .header-content .logo {
    max-width: 110px;
  }
}
nav.login .navbar-header .header-content h1,
nav.login .navbar-header .header-content h2 {
  color: #FFFFFF;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}
nav.login .navbar-header .header-content h1 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 414px) {
  nav.login .navbar-header .header-content h1 {
    padding-top: 25px;
    font-size: 18px;
  }
}
nav.login .navbar-header .header-content h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
}
@media (max-width: 414px) {
  nav.login .navbar-header .header-content h2 {
    font-size: 15px;
    letter-spacing: 0px;
  }
}
#login {
  min-height: 765px;
}
@media (min-width: 1024px) {
  #login {
    width: 380px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
form {
  padding: 75px 0 0;
}
form > * {
  color: #000000;
}
form .form-group {
  text-align: center;
}
form .form-group input {
  height: 65px;
  border: 0;
  border-radius: 6px;
  width: 100%;
}
form .form-group input[type="text"] {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000000;
  text-align: center;
}
form .form-group input[type="submit"],
form .form-group input .btn-primary {
  background: #000000;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}
form .form-group input.confirmation-phone {
  background: none;
  box-shadow: none;
  height: 50px;
  border-bottom: 1px solid #000000;
}
form .form-group input.confirmation-code {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
form .form-group .btn-primary {
  background: #000000;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  height: 65px;
  border: 0;
  border-radius: 6px;
  width: 100%;
}
form .form-group .btn-primary i {
  padding: 0 10px 0 0;
}
form .form-group a.btn-primary {
  line-height: 50px;
}
form .form-title {
  font-size: 30px;
}
form .inner-addon {
  position: relative;
}
form .inner-addon i {
  position: absolute;
  top: 30%;
  right: auto;
  left: auto;
  margin-left: 100px;
}
form label {
  font-size: 18px;
  letter-spacing: -0.2px;
}
form span,
form a {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
}
form span.countdown,
form a.countdown {
  display: block;
  margin-bottom: 25px;
}
form.form-login .form-group {
  margin-bottom: 5px;
}
form.form-login .form-group span {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
  display: block;
}
form.form-login .form-group .form-control {
  text-align: left;
  font-size: 20px;
}
form.form-login .form-group .btn-primary {
  margin-bottom: 20px;
}
@media (max-width: 414px) {
  form.form-login .form-group .btn-primary {
    font-size: 16px;
  }
}
form.form-login input[type="text"] {
  margin-bottom: 10px;
}
footer {
  background: #000000;
  padding: 16px 0 17px;
}
footer address {
  margin: 0;
}
footer * {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
footer a {
  padding-left: 5px;
}
footer a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
